[submodule "pydantic-models"]
	path = pydantic-models
	url = https://github.com/resultes-net/pydantic-models.git
[submodule "openstack-utils"]
	path = openstack-utils
	url = https://github.com/resultes-net/openstack-utils.git
